[general]
# This will be used to construct the name of the sheet in google sheets "Week 1", for example

# Date of the first day in the week defined above yyyy-mm-dd
# This is used to calculate the week number and should never be changed once setup
# Use the day_calc.py script to calculate the date for whatever week you are currently on
start_date=

# The timezone you live in - to normalize the data from whoop
timezone=

# The week you want to start the script from.
start_week

[whoop]
# Whether or not to get data from Whoop set to 1 to enable
enabled=1

# Whoop oauth creds
client_id=
client_secret=
redirect_url=

[gsheet]
# The location of the json file that contains the mapping of data points to cells
json=spreadsheet_map.json

# This is the credentials file that is generated when you create a service account in google cloud
creds=

# This is the URL of the google sheet
url=

[mfp]
# Whether or not to get data from myfitnesspal set to 1 to enable
enabled=1

# Which browser to get myfitnesspal data from the options are currently: chrome, firefox, edge, opera, safari, chromium
# Note: Only chrome & Firefox has had extensive testing
browser=firefox
